# Simple Starting Practice:

## Data Types and Basic Expressions

In each of the following cells, write two lines of code, using `print()` to display the value and `type()` to confirm its datatype.

*print('example')*

*type('example')*

In [1]:
# Give an example of an integer and confirm the datatype:
print (6)
type(6)

6

int

In [2]:
# Give an example of a float and confirm the datatype:
print(3.14)
type(3.14)

3.14

float

In [3]:
# Give an example of a string and confirm the datatype:
print("Hello, world!")
type("Hello, world!")

Hello, world!

str

In [4]:
# Give an example of a boolean and confirm the datatype:
print(True)
type(True)

True

bool

Answer the following questions by writing a line of code to demonstrate what happens in each case, inventing your own examples for each question and running the cell to display the result. If you have any additional comments, include them as a comment below your code.

In [5]:
# Can you add a float to an integer? What happens? 
result = 3.14 + 10
print(result)  # Output: 13.14
type(result)  # Output: <class 'float'>

# When you add a float to an integer, the result is always a float.

13.14

float

In [6]:
# Can you add a string to an integer? What happens?
result = "Hello" + 10

# This will result in a TypeError because you cannot directly add a string to an integer.

TypeError: can only concatenate str (not "int") to str

In [7]:
# Can you add a boolean to an integer? What happens?
result = True + 10
print(result)  # Output: 11

# Booleans are treated as 1 (True) or 0 (False) in arithmetic operations.

11

In [8]:
# Can you add a boolean to a string? What happens?
result = True + "Hello"

# This will result in a TypeError because you cannot directly add a boolean to a string.

TypeError: unsupported operand type(s) for +: 'bool' and 'str'

In [9]:
# What happens when you divide an integer by an integer? 
result1 = 10 / 5
print(result1)  # Output: 2.0
type(result1)  # Output: <class 'float'>

result2 = 10 // 5
print(result2)  # Output: 2
type(result2)  # Output: <class 'int'>

# Using / for division always results in a float. Using // for division performs integer division.

2.0
2

int

## Typecasting

In each of the following cells, cast the value into the specified datatype, and run the cell to check your results:

In [10]:
# Transform the below value into an integer using the int() function
12
value = 12
integer_value = int(value)
print(integer_value)  # Output: 12

12

In [11]:
# Transform the below value into an float using the float() function

55

value = 55
float_value = float(value)
print(float_value)  # Output: 55.0

55.0

In [12]:
# Transform the below value into a string using the str() function

765

value = 765
string_value = str(value)
print(string_value)  # Output: "765"

765

In [13]:
# Transform the below value into a boolean using the bool() function

0

value = 0
boolean_value = bool(value)
print(boolean_value)  # Output: False

False

In [14]:
# What other number or string value(s) can be typecast as boolean values? Use the print() function to list them
print("Boolean value of 0:", bool(0))
print("Boolean value of 1:", bool(1))
print("Boolean value of -5:", bool(-5))
print("Boolean value of 3.14:", bool(3.14))
print('Boolean value of "":', bool(""))
print('Boolean value of "hello":', bool("hello"))
print("Boolean value of None:", bool(None))

Boolean value of 0: False
Boolean value of 1: True
Boolean value of -5: True
Boolean value of 3.14: True
Boolean value of "": False
Boolean value of "hello": True
Boolean value of None: False

In [ ]:
# What's the difference between 0 and 0.0?  Write your answer below as a code comment.

#There is no difference between 0 and 0.0 in terms of their value. They both represent the same numerical value, zero.

# The difference lies in their datatypes: 0 is an integer (int) & 0.0 is a float (float)

## Math with Integers and Floats

### Understanding the difference between `/` and `//` (and how this impacts datatypes)

Write an expression to illustrate the answer to each question below. Make sure to run the cell to check your results.

In [15]:
# What is the result of 2 times 2?
# Multiplication
result = 2 * 2
print(result)  # Output: 4

4

In [16]:
# What is the result of 4 divided by 2, using regular division?
# Regular division
result = 4 / 2
print(result)  # Output: 2.0

2.0

In [17]:
# What is the result of 4 divided by 2, using floor division?
# Floor division
result = 4 // 2
print(result)  # Output: 2

2

In [18]:
# Ok, how about 2 times 2.5?
result = 2 * 2.5
print(result)  # Output: 5.0

5.0

In [19]:
# What's 5 divided by 2 using regular division?
# Regular division
result = 5 / 2
print(result)  # Output: 2.5

2.5

In [20]:
# What's 5 divided by 2 using floor division?
result = 5 // 2
print(result)  # Output: 2

2

In [ ]:
# When might you want to use floor division instead of normal division? (Write your answer as a code comment below.)

# Use floor division when you need the result to be a whole number, discarding any remainder or decimal portion.